body{
    background-image: url("../../assets/BG.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
.logo{
  height: 100%;
}
.h1{
color: #5D4EE5;
}


.item{
  min-width: 150px;
  width: 350px;
  }
  .PassForg{
    font-size: small;
  }