.dot {
    height: 80px;
    width: 81px;
    background-color: #ffffff;
    border-radius: 50%;
    position: fixed;
    margin: -6em auto auto 31.7rem;
    border: 0.5px solid;
    z-index: 2;
    text-align: center;
  }
  
  .dot:hover {
    .mark {
      opacity: 0;
      font-size: small;
      padding-top: 80px;
      padding-left: 30px;
    }
  
    .add {
      padding-top: 3.8px;
      padding-left: 4.3px;
    }
  
    .add,
    mat-icon {
      font-size: 4.5rem;
      transition: all;
      transition-duration: 1s;
      transition-timing-function: ease;
      opacity: 1;
    }
  }
  
  .markdiv {
    position: fixed;
    z-index: 2;
    padding-top: 3px;
    padding-left: 7px;
    cursor: pointer;
  
  }
  
  .mark {
    font-size: xxx-large;
    color: #5D4EE5;
    background-color: transparent;
  }
  
  .add {
    float: left;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 3;
    padding: 20px;
  
  }
  
  .add mat-icon {
    width: fit-content;
    height: fit-content;
    object-fit: fit;
    // font-size: 4.5rem;
    font-size: 2.5rem;
    opacity: 0;
    float: left;
  }
  
  .editIcon{
    text-transform: uppercase;
    font-size: 13pt;
  }