<app-side-bar>
  <!-- ------Up mark logo -->
  <div class="dot" id="dot">
    <span >
      <div class="markdiv">
      <a routerLink="/add-book"><mat-icon class="mark">menu_book</mat-icon></a>
      </div>
    </span>
    
    <div class="add" id="dot">
      <a routerLink="/add-book"><mat-icon>add_circle</mat-icon></a>
    </div>
  </div>

  <!-- ----------Content cards and tabs  -->
<!-- Tabs -->
  <mat-tab-group mat-align-tabs="center"  dir="rtl">
  <!-- --------------------------------------------------------------------Tab 1  -->
    <mat-tab label="برمجة">
      <!-- ----------------------------------Card's Container -flex -->
      <div class="container row row-cols-1 row-cols-md-3 text-right">
        <!-- card -->
         <div class="col mb-4">
           <div class="card">
             <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                 content.</p>
             </div>
             <div class="card-footer text-center">
               <small class="text-dark row">
                 <h6 class="h6">المؤلف :</h6>Mustafa
               </small>
             </div>
             <div class="card-footer">
               <small class="text-dark row">
                 <h6 class="h6">السعر:</h6>25000
               </small>
             </div>
             <a routerLink="/edit-book/:id" class="btn btn-primary btn-sm btn-block active editIcon" role="button" aria-pressed="true" >Edit this content <mat-icon>edit</mat-icon> </a>
           </div>
     
         </div>
     
         <div class="col mb-4">
           <div class="card">
             <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                 content.</p>
             </div>
             <div class="card-footer text-center">
               <small class="text-dark row">
                 <h6 class="h6">المؤلف :</h6>Mustafa
               </small>
             </div>
             <div class="card-footer">
               <small class="text-dark row">
                 <h6 class="h6">السعر:</h6>25000
               </small>
             </div>
             <a routerLink="/edit-book/:id" class="btn btn-primary btn-sm btn-block active editIcon" role="button" aria-pressed="true" >Edit this content <mat-icon>edit</mat-icon> </a>
           </div>
     
         </div>
     
         <div class="col mb-4">
           <div class="card">
             <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                 content.</p>
             </div>
             <div class="card-footer text-center">
               <small class="text-dark row">
                 <h6 class="h6">المؤلف :</h6>Mustafa
               </small>
             </div>
             <div class="card-footer">
               <small class="text-dark row">
                 <h6 class="h6">السعر:</h6>25000
               </small>
             </div>
             <a routerLink="/edit-book/:id" class="btn btn-primary btn-sm btn-block active editIcon" role="button" aria-pressed="true" >Edit this content <mat-icon>edit</mat-icon> </a>
           </div>
     
         </div>
     
         <div class="col mb-4">
           <div class="card">
             <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                 content.</p>
             </div>
             <div class="card-footer text-center">
               <small class="text-dark row">
                 <h6 class="h6">المؤلف :</h6>Mustafa
               </small>
             </div>
             <div class="card-footer">
               <small class="text-dark row">
                 <h6 class="h6">السعر:</h6>25000
               </small>
             </div>
             <a routerLink="/edit-book/:id" class="btn btn-primary btn-sm btn-block active editIcon" role="button" aria-pressed="true" >Edit this content <mat-icon>edit</mat-icon> </a>
           </div>
     
         </div>
     
     
     
     <!-- ----------------------------------card's container ends -->
       </div>
     

  <!-- -----------------Tab 1  END-->
    </mat-tab>
  <!-- --------------------------------------------------------------------Tab 2  -->
    <mat-tab label="تكنلوجيا">
<!-- ----------------------------------Card's Container -flex  -->
      <div class="container row row-cols-1 row-cols-md-3 text-right">
        <!-- card -->
         <div class="col mb-4">
           <div class="card">
             <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                 content.</p>
             </div>
             <div class="card-footer text-center">
               <small class="text-dark row">
                 <h6 class="h6">المؤلف :</h6>Mustafa
               </small>
             </div>
             <div class="card-footer">
               <small class="text-dark row">
                 <h6 class="h6">السعر:</h6>25000
               </small>
             </div>
             <a routerLink="/edit-book/:id" class="btn btn-primary btn-sm btn-block active editIcon" role="button" aria-pressed="true" >Edit this content <mat-icon>edit</mat-icon> </a>
           </div>
     
         </div>
     
     
         <div class="col mb-4">
           <div class="card">
             <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                 content.</p>
             </div>
             <div class="card-footer text-center">
               <small class="text-dark row">
                 <h6 class="h6">المؤلف :</h6>Mustafa
               </small>
             </div>
             <div class="card-footer">
               <small class="text-dark row">
                 <h6 class="h6">السعر:</h6>25000
               </small>
             </div>
             <a routerLink="/edit-book/:id" class="btn btn-primary btn-sm btn-block active editIcon" role="button" aria-pressed="true" >Edit this content <mat-icon>edit</mat-icon> </a>
           </div>
     
         </div>
     
     
     
     <!-- ---------------------------------------------------card's container ends -->
       </div>
     
  <!-- -----------------Tab 2 END -->
    </mat-tab>
  <!-- --------------------------------------------------------------------Tab 3  -->
    <mat-tab label="رواية">


  <!-- -----------------Tab 3 END -->
    </mat-tab>
  <!-- --------------------------------------------------------------------Tab 4  -->
  <mat-tab label="قصة">


  <!-- -----------------Tab 4 END -->
  </mat-tab>
  <!-- --------------------------------------------------------------------Tab 5  -->
  <mat-tab label="شعر">

  <!-- -----------------Tab 5 END  -->
  </mat-tab>
  </mat-tab-group>
  















</app-side-bar>
