<app-side-bar>
  <!-- ------Up mark logo -->
  <div class="dot " id="dot">
    <span >
      <div class="markdiv">
      <a routerLink="/add-notification"><mat-icon class="mark">notifications</mat-icon></a>
      </div>
    </span>
    
    <div class="add" id="dot">
      <a routerLink="/add-notification"><mat-icon>add_circle</mat-icon></a>
    </div>
  </div>

 <!-- --------Content cards -->


    <mat-card class="row" style="display: flex;">
      <img class="col-1 avatarImg border" src="../../assets/Coreit.png" alt="">
      <div class="col-11">

        <mat-card-header class="h5">Simple card </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </div>
      </mat-card>
      <hr class="col-md-6">
 
      <mat-card class="row" style="display: flex;">
        <img class="col-1 avatarImg border" src="../../assets/Coreit.png" alt="">
        <div class="col-11">
  
          <mat-card-header class="h5">Simple card </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
        </div>
        </mat-card>
        <hr class="col-md-6">
   
</app-side-bar>


