<app-side-bar>
  <!-- ------Up mark logo -->
  <div class="dot" id="dot">
    <span >
      <div class="markdiv">
      <a routerLink="/add-book"><mat-icon class="mark">notifications</mat-icon></a>
      </div>
    </span>
    
    <div class="add" id="dot">
      <a routerLink="/add-book"><mat-icon>add_circle</mat-icon></a>
    </div>
  </div>

 <!-- --------Content cards -->

 <div class="row row-cols-1 row-cols-md-3">


    <div class="col mb-4">
      <div class="card">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer text-center">
          <small class="text-dark row">
            <h6 class="h6">Category:</h6>Programming
          </small>
        </div>
        <div class="card-footer">
          <small class="text-dark row">
            <h6 class="h6">Date puplished:</h6>2019-Dec-20
          </small>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
        <div class="card-footer text-center">
          <small class="text-dark row">
            <h6 class="h6">Category:</h6>Programming
          </small>
        </div>
        <div class="card-footer">
          <small class="text-dark row">
            <h6 class="h6">Date puplished:</h6>2019-Dec-20
          </small>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
        <div class="card-footer text-center">
          <small class="text-dark row">
            <h6 class="h6">Category:</h6>Programming
          </small>
        </div>
        <div class="card-footer">
          <small class="text-dark row">
            <h6 class="h6">Date puplished:</h6>2019-Dec-20
          </small>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
        <div class="card-footer text-center">
          <small class="text-dark row">
            <h6 class="h6">Category:</h6>Programming
          </small>
        </div>
        <div class="card-footer">
          <small class="text-dark row">
            <h6 class="h6">Date puplished:</h6>2019-Dec-20
          </small>
        </div>
      </div>
    </div>

  </div>
 
</app-side-bar>


